# Dependencies
bin/
obj/
packages/

# IDEs
.vscode/
.idea/
*.sln.DotSettings.user
*.suo
*.user

# Environment Variables
.env
appsettings.Development.json
appsettings.local.json

# Build Output
MusicGen.Api/wwwroot/songs/

# Docker
.dockerignore
